/* johnson media changes */


/*
Showcase stuff
*/

		@media handheld, only screen and (max-width: 1023px) {

.hello-text {font-size:30px; line-height: 40px; padding-left:50px; padding-right:50px; max-width: 500px;}
.main-menu {min-width:613px;}
.black-triangle {bottom:60px;}
	
		}


@media only screen and (max-width: 400px) {
	.hello-text {
	font-size:x-large !important;
	line-height:1.5em;
	}

	a.johnson-email-small h2{
	font-size:3em; 
	padding-top:10px;
	text-shadow:-1px -1px 0px #103f40; display: compact; margin:auto; line-height: 31px;
	}

	a.johnson-email-small span {font-size:1em; color:#114844; text-shadow:0px 1px #9DDADF; }


	}
