@font-face {
    font-family: 'ospdin';
    src: url('../fonts/OSP-DIN-webfont.eot');
    src: url('../fonts/OSP-DIN-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OSP-DIN-webfont.woff') format('woff'),
         url('../fonts/OSP-DIN-webfont.ttf') format('truetype'),
         url('../fonts/OSP-DIN-webfont.svg#OSPDIN') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'classicround';
    src: url('../fonts/classic-round/ClassicRound-Medium-webfont.eot');
    src: url('../fonts/classic-round/ClassicRound-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/classic-round/ClassicRound-Medium-webfont.woff') format('woff'),
         url('../fonts/classic-round/ClassicRound-Medium-webfont.ttf') format('truetype'),
         url('../fonts/classic-round/ClassicRound-Medium-webfont.svg#classicround') format('svg');
    font-weight: normal;
    font-style: normal;

}


#start {
	background:#f8f8f8 50% -75px no-repeat fixed;
	color: black;
	height: 650px;
	margin: 0 auto;
	padding: 30px 0 0 0;
	width:100%;
	text-align:center;
	position:relative;
}

#first { 
	background:url(../images/bg/backgrounds-1-opt.jpg) 50% 0 no-repeat fixed;
	color: white;
	height: 1000px;
	margin: 0 auto;

	width:100%;


}
#second {
	background:url(../images/bg/backgrounds-2-opt.jpg) 50% 0 no-repeat fixed;
	color: white;
	height: 1000px;
	margin: 0 auto;

	width:100%;


}

#third {
	background:url(../images/bg/backgrounds-3-opt.jpg) 50% 0 no-repeat fixed;
	color: white;
	height: 1000px;
	margin: 0 auto;

	width:100%;

}
#forth {
	background:url(../images/bg/backgrounds-4-opt.jpg) 50% 0 no-repeat fixed;
	color: white;
	height: 1000px;
	margin: 0 auto;

	width:100%;

	}

#footer {
background:black;
height: 500px;
width:100%;
	padding: 160px 0 0 0;
}

.slide {
	width: 100%;
}

#nav{
	list-style: none;
	position: fixed;
	right: 0px;
	z-index: 999;
}



#nav li a {
	display: block;
	/*width: 10px;
	height: 10px;
	border-radius: 10px;
	background-color: white;
	border: solid 2px white;*/
}

.featured {
/* margin-top:120px;*/
}

.main-menu {
padding-top:40px; margin:auto;overflow:hidden;
width:520px;
}
.main-menu li:last-child {
margin-right:0px;
}

.main-menu li {
float:left; 
font-family: 'ospdin', Helvetica Neue, sans-serif; 
font-size:29px;
text-transform:uppercase;
margin-right:50px;
}
.main-manu li  a {
color:green;
}
.clear {
clear:both;
}
.hello-text {
	text-align:left; 
	font-family:classicround, georgia, serif;
	font-size:34px;
	line-height:38px; 
		width:80%;
	margin:50px auto;
	text-shadow:3px 5px #f0f0f0;
	color:#474747;
	}

body {
	font-family: 'asap', tahoma, san-serif;
	}

h1 {
	font-family: 'ospdin', Helvetica Neue, sans-serif; 
	text-transform:uppercase; 
	font-size:58px; 
	text-shadow:0px 1px 0px white;
	margin-bottom:20px;
	}

h6 {
	font-family: 'asap', tahoma, san-serif; 
	letter-spacing: .3em; 
	color:#999999; 
	font-size:14px;
	text-shadow:0px 1px 0px white;
	}
	
.hello-text:first-letter {
	color:#cc3300;
}	
.hello-text:first-line {
color:#333;
}
	
	
.showcase-number {
display:block;
color:#666666;
padding-bottom:10px;
/* text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6); 
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99FFFFFF,endColorstr=#99FFFFFF);
            zoom: 1;  
*/

}

div.slide {
font-size:15px;
line-height:21px;
}


span.expand {display:block; margin-top:15px;}

h2 {
font-family: 'ospdin', Helvetica Neue, sans-serif; 
font-size:41px; 
line-height:41px; 
color:white;
margin-bottom:10px; 
text-transform:uppercase;
margin-left:40px;
}

span.subtitle {color:#339999; text-transform:capitalize;
margin-left:40px;
}

.johnson-set-paddings2 {padding:20px;}

.main-menu a:link {color:#444444; text-shadow:0px 1px 0px white; box-shadow:none; }
.main-menu a:visited {color:#444444;}
.main-menu a:hover {
	
	color:#339999;

  -webkit-transition: all 0.3s ease-out; 
     -moz-transition: all 0.3s ease-out; 
      -ms-transition: all 0.3s ease-out; 
       -o-transition: all 0.3s ease-out; 
          transition: all 0.3s ease-out;
}

/* Buttons and pictures */
.black-triangle {
background: url(../images/image.png) no-repeat left -676px;
width:190px;
height:150px;
position:absolute;
bottom:0px;
margin-left:-95px;
left:50%;
cursor:pointer;
display:block;
}
.padding100 {
padding-top:150px;
}
.padding15 {
padding:15px 0px;
}
@media only screen and (max-width: 5000px) {
h2.johnson-s-mail {font-size:67px;padding-top:10px;}
}
@media only screen and (max-width: 980px) {
#nav {
opacity:0.7;
}

#start {
height:750px !important;
}
	
div.orbit-wrapper div.slider-nav span.right {
right:0 !important;
}
div.orbit-wrapper div.slider-nav span.left {
left:0 !important;
}
div.orbit-wrapper div.slider-nav span {
top:80% !important;
}
.hello-text {
	font-size:24px;
	}
.main-menu li {
margin-right:0px;
width:20%;
text-align:center;
}
.main-menu li:last-child {
width:40%;
}

.main-menu {
width:100%;
}

	.padding15 {
	padding:15px 15px !important;
	}

.johnson-s-mail a {font-size:50px; !important}

}
	
	
@media only screen and (max-width: 400px) {
	.main-menu li a {
	font-size:20px;
	}
.johnson-s-mail a {font-size:27px; !important}
.hello-text {
font-size:14px !important;
line-height:25px;
}	

.main-menu a:first-child {
padding-left:5px;
}

}
	
div.orbit-wrapper div.slider-nav span.right {
    background: url(../images/image.png) no-repeat -120px -130px;
	width:110px;
	height:120px;
    right: -110px; }
	
	div.orbit-wrapper div.slider-nav span.right:hover {
    background: url(../images/image.png) no-repeat -120px -250px;
	}


div.orbit-wrapper div.slider-nav span.left {
    background: url(../images/image.png) no-repeat -5px -130px;
	width:110px;
	height:125px;
    left: -110px; }
	div.orbit-wrapper div.slider-nav span.left:hover {
    background: url(../images/image.png) no-repeat -5px -250px;
	}
	

	
	ul.orbit-bullets li {
    float: left;
    margin-left: 5px;
    cursor: pointer;
    color: #999;
    text-indent: -9999px;
    background: url(../images/orbit/bullets.jpg) no-repeat 4px 0;
    width: 13px;
    height: 12px;
    overflow: hidden; }
	
	ul.orbit-bullets li.active {
    color: #222;
    background-position: -8px 0; }
	
	
	ul.orbit-bullets {
    position: absolute;
    z-index: 30;
    list-style: none;
    top: -20px;
	right:0px;
    padding: 0;
	}
	
	.left-slide {
	position:fixed;
	right:0;
	top:0;
	z-index:99999;
	min-height:700px;
	width:0px;
	background:rgba(0,0,0,0.8);
	
	}
	
	.nav-point {
		background: url(../images/image.png) no-repeat -260px -275px !important;
		width:45px;
		height:42px;
		overflow:hidden;
		text-align:right;
		font-family: 'ospdin', Helvetica Neue, sans-serif;
		font-size:30px;
	}
	.nav-point p {
	padding-right:15px;
	padding-top:7px;
	color:black;
	}
	
	.current {
	/*background-color: orange;
	color:black;*/
	}
#nav li{
	margin: 0 0 0px 0;	
	position:relative;
	width:52px;
}
#nav li a:first-child {
float:right;
display:block;}

.project-name {
position:absolute;
top:0;
right:0px;
width:0px;
overflow:hidden;
z-index:99999;
background:#cc3300;
height:43px;
}

a.project-name {
	color:white;
	text-transform: uppercase;
	font-family: 'ospdin', Helvetica Neue, sans-serif; 
	font-size: 26px;
	text-shadow: 0px -1px 0px #791e00;
}
.project-name p {
padding-top:7px;
padding-left:15px;
}

.current-nav {
		background: url(../images/image.png) no-repeat -8px -601px !important;
		width:70px;
		height:42px;
		z-index:99999;
		content:' ';
}

.about {
background:url(../images/bg/about-background.png) top left green;
height:0px;
width:100%;
overflow:hidden;
position:absolute;
top:0;
z-index:999999;
}

.h2 span {
font-size:18px;
color:grey !important;
}

.johnson-s-photo {
padding:7px;
background:white;
box-shadow:1px 1px 2px rgba(0,0,0,0.2);
}

div.about .seven p {
font-size:21px; 
line-height:27px;
font-family: 'classicround', 
san-serif; color:#072624; 
text-shadow: 0px 1px 0px #63cbc4;
/*width:560px;*/
}

.eight .five p.small-text {
color:#0e3b39; 
text-shadow: 0px 1px 0px #51c2b7; 
font-size:14px; 
font-family:'asap', san-serif;
margin-bottom:10px;
line-height: 16px;
}


.johnson-s-photo {
max-width:400px;
margin:auto;
display:block;
}

.triangle-up {
background: url(../images/image.png) no-repeat -258px -330px;
width:14px;
height:14px;
margin:auto;
cursor:pointer;
display:block;
margin-top:9px;
content:' ';
}

.top-bar {
position:fixed;
height:30px;
border-bottom:1px solid rgba(255,255,255,0.7);
z-index:9999;
width:100%;
background:rgba(0,0,0,0.15);
box-shadow: inset 0px -5px 15px rgba(0,0,0,0.1);
display:none;
}
.top-bar-clone {
position:absolute;
height:30px;
border-bottom:1px solid rgba(255,255,255,0.7);
z-index:9999;
width:100%;
background:rgba(0,0,0,0.15);
box-shadow: inset 0px -5px 15px rgba(0,0,0,0.1);
display:block;
}