#homepage {
padding-top:30px;
}


.slide {
left:3000px;
}
body {
background:url(../images/bg/homepage-bg-opt.jpg) no-repeat;
background-size:cover;
background-attachment:fixed;
}
@font-face {
    font-family: 'ospdin';
    src: url('../fonts/OSP-DIN-webfont.eot');
    src: url('../fonts/OSP-DIN-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OSP-DIN-webfont.woff') format('woff'),
         url('../fonts/OSP-DIN-webfont.ttf') format('truetype'),
         url('../fonts/OSP-DIN-webfont.svg#OSPDIN') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'classicround';
	src: url('../fonts/classic-round/ClassicRound-Medium-webfont.eot');
    src: url('../fonts/classic-round/ClassicRound-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/classic-round/ClassicRound-Medium-webfont.woff') format('woff'),
         url('../fonts/classic-round/ClassicRound-Medium-webfont.ttf') format('truetype'),
         url('../fonts/classic-round/ClassicRound-Medium-webfont.svg#classicround') format('svg');
    font-weight: normal;
    font-style: normal;

}


#start {
	background:url(../images/portfolio-images/1-showcase1/backgrounds/backgrounds-0.jpg) -75px no-repeat fixed;
	color: black;
	height: 700px;
	margin: 0 auto;
	padding: 30px 0 0 0;
	width:100%;
	text-align:center;
	position:relative;
}

#sc2start {
	background:url(../images/portfolio-images/2-showcase2/backgrounds/0-cubes.png) -75px fixed;
	color: black;
	height: 700px;
	margin: 0 auto;
	padding: 30px 0 0 0;
	width:100%;
	text-align:center;
	position:relative;
}

#photostart {
	background:url(../images/portfolio-images/3-photo/backgrounds/0.jpg) -75px fixed;
	color: black;
	height: 700px;
	margin: 0 auto;
	padding: 30px 0 0 0;
	width:100%;
	text-align:center;
	position:relative;
}

#first { 
	background:url(../images/portfolio-images/1-showcase1/backgrounds/backgrounds-1-opt.jpg) 50% 0 no-repeat fixed;
	color: white;
	height: 1000px;
	margin: 0 auto;

	width:100%;

}

#second {
	background:url(../images/portfolio-images/1-showcase1/backgrounds/backgrounds-2-opt.jpg) 50% 0 no-repeat fixed;
	color: white;
	height: 1000px;
	margin: 0 auto;

	width:100%;


}

#third {
	background:url(../images/portfolio-images/1-showcase1/backgrounds/backgrounds-3-opt.jpg) 50% 0 no-repeat fixed;
	color: white;
	height: 1000px;
	margin: 0 auto;

	width:100%;

}

#fourth {
	background:url(../images/portfolio-images/1-showcase1/backgrounds/backgrounds-4-opt.jpg) 50% 0 no-repeat fixed;
	color: white;
	height: 1000px;
	margin: 0 auto;

	width:100%;

	}

#fifth {
	background:url(../images/portfolio-images/1-showcase1/backgrounds/backgrounds-5-opt.jpg) 50% 0 no-repeat fixed;
	color: white;
	height: 1000px;
	margin: 0 auto;

	width:100%;

	}

#footer-slide {
	background:url(../images/portfolio-images/1-showcase1/backgrounds/backgrounds-6-opt.jpg) 50% 0 no-repeat fixed;
	color: white;
	height: 1000px;
	margin: 0 auto;

	width:100%;


}



/* showcase2 page */

#sc21 { 
	background:url(../images/portfolio-images/2-showcase2/backgrounds/1-diagmonds.png) 50% 0 fixed;
	color: white;
	height: 1000px;
	margin: 0 auto;

	width:100%;

}

#sc22 {
	background:url(../images/portfolio-images/2-showcase2/backgrounds/2-subtle_zebra_3d.png) 50% 0 fixed;
	color: white;
	height: 1000px;
	margin: 0 auto;

	width:100%;


}

#sc23 {
	background:url(../images/portfolio-images/2-showcase2/backgrounds/3-px_by_Gre3g.png) 50% 0 fixed;
	color: white;
	height: 1000px;
	margin: 0 auto;

	width:100%;

}

#sc24 {
	background:url(../images/portfolio-images/2-showcase2/backgrounds/4-bright_squares.png) 50% 0 fixed;
	color: white;
	height: 1000px;
	margin: 0 auto;

	width:100%;

	}

#sc25 {
	background:url(../images/portfolio-images/2-showcase2/backgrounds/5-black_paper.png) 50% 0 fixed;
	color: white;
	height: 1000px;
	margin: 0 auto;

	width:100%;

	}


/* showcase2 page */

#photo1 { 
	background:url(../images/portfolio-images/3-photo/backgrounds/1.jpg) 50% 0 fixed;
	color: white;
	height: 1000px;
	margin: 0 auto;

	width:100%;

}

#photo2 {
	background:url(../images/portfolio-images/3-photo/backgrounds/2.jpg) 50% 0 fixed;
	color: white;
	height: 1000px;
	margin: 0 auto;

	width:100%;


}

#photo3 {
	background:url(../images/portfolio-images/3-photo/backgrounds/3.jpg) 50% 0 fixed;
	color: white;
	height: 1000px;
	margin: 0 auto;

	width:100%;

}

#photo4 {
	background:url(../images/portfolio-images/3-photo/backgrounds/4.jpg) 50% 0 fixed;
	color: white;
	height: 1000px;
	margin: 0 auto;

	width:100%;

	}

#photo5 {
	background:url(../images/portfolio-images/3-photo/backgrounds/5.jpg) 50% 0 fixed;
	color: white;
	height: 1000px;
	margin: 0 auto;

	width:100%;

	}



	
#footer {
background:black;
height: 500px;
width:100%;
	padding: 160px 0 0 0;
}

.slide {
	width: 100%;
}

#nav{
	list-style: none;
	position: fixed;
	right: 0px;
	z-index: 999;
}



#nav li a {
	display: block;
	/*width: 10px;
	height: 10px;
	border-radius: 10px;
	background-color: white;
	border: solid 2px white;*/
}

.featured {
/* margin-top:120px;*/
}

.main-menu {
padding-top:40px; margin:auto;overflow:hidden;
width:613px;
}

.main-menu li:last-child {
margin-right:0px;
}

.main-menu li {
float:left; 
font-family: 'ospdin', Helvetica Neue, sans-serif; 
font-size:30px;
text-transform:uppercase;
margin-right:70px;
letter-spacing: 0.04em;
}
.main-manu li  a {
color:green;
}
.clear {
clear:both;
}
.hello-text {
	text-align:left; 
	font-family:classicround, georgia, serif;
	font-size:34px;
	line-height:45px; 
	margin:45px auto;
	text-shadow:3px 3px #f0f0f0;
	color:#474747;
	max-width:720px
	}
.hello-text-content {
/*position:absolute;*/
}


body {
	font-family: 'asap', tahoma, san-serif;
	}

h1 {
	font-family: 'ospdin', Helvetica Neue, sans-serif; 
	text-transform:uppercase; 
	font-size:58px; 
	text-shadow:0px 1px 0px white;
	margin-bottom:20px;
	}

h6 {
	font-family: 'asap', tahoma, san-serif; 
	letter-spacing: .3em; 
	color:#999999; 
	font-size:14px;
	text-shadow:0px 1px 0px white;
	}
	
.hello-text:first-letter {
	color:#cc3300;
}	
.hello-text:first-line {
color:#333;
}
	
	
.showcase-number {
display:block;
color:#666666;
padding-bottom:10px;
margin-left:62px;
font-size:13px;
letter-spacing: 0.1em;

/* text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6); 
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99FFFFFF,endColorstr=#99FFFFFF);
            zoom: 1;  
*/

}

div.slide {
font-size:15px;
line-height:21px;
}




h2 {
font-family: 'ospdin', Helvetica Neue, sans-serif; 
font-size:50px; 
line-height:44px; 
color:white;
margin-bottom:5px; 
text-transform:uppercase;
margin-left:120px;
}

span.subtitle {
color:#339999; 
text-transform:capitalize;
margin-left:122px;
}

span.uc {color:gray; font-size: 10px; text-transform:uppercase; letter-spacing: 0.1em;}
.johnson-set-paddings2 {margin-left:-20px; max-width:500px;}


.main-menu a:link {color:#444444; text-shadow:0px 1px 0px white; box-shadow:none; }
.main-menu a:visited {color:#444444;}
.main-menu a.active {
color:#339999;
}
.main-menu a:hover {
	
	color:#339999;

  -webkit-transition: all 0.2s ease-out; 
     -moz-transition: all 0.2s ease-out; 
      -ms-transition: all 0.2s ease-out; 
       -o-transition: all 0.2s ease-out; 
          transition: all 0.2s ease-out;
}

/* Buttons and pictures */

.black-triangle {
background: url(../images/image.png) no-repeat left -676px;
width:190px;
height:152px;
position:absolute;
bottom:10px;
margin-left:-95px;
left:50%;
cursor:pointer;
display:block;
}
.green-triangle {
background: url(../images/image.png) no-repeat -187px -676px;
width:190px;
height:150px;
margin-top:50px;
margin-botto:30px;
margin-left:auto;
margin-right:auto;
cursor:pointer;
display:block;
}

.padding100 {
padding-top:150px;
}
.padding15 {
padding:15px 0px;
}
@media only screen and (max-width: 5000px) {

.image-wrap img{
width:auto;
height:569px;
box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
border:4px solid white;
margin:auto;
display:block;
float:right;
}
.m-slider {
float:right;
width:700px;
}

}



@media only screen and (max-width: 1470px) {
.m-slider {
float:right;
width:100% !important;
float:none !important;
}
.image-wrap img {
height:auto !important;
float:none !important;
margin:auto;
}
.image-wrap {
margin:auto;
float:none;
}

}

@media only screen and (max-width: 980px) {
.green-bar .white-johnson {
display:none;
}
.slide .row {
overflow:hidden;
}
.m-slider {
float:right;
width:100% !important;
float:none !important;
}
.image-wrap img {
height:auto !important;
float:none !important;
margin:auto;
}
.image-wrap {
margin:auto;
float:none;
}
.green-line {
margin-left:-40px;
}
.close-popup {
margin-top:30px;
margin-bottom:100px;
}
.project-popup, .popup-text {
padding:15px;
}
.johnson-set-paddings2 {max-width:5000px;padding:15px;}
#nav {
opacity:0.7;
}

#start {
height:750px !important;
}
	
div.orbit-wrapper div.slider-nav span.right {
right:0 !important;
}
div.orbit-wrapper div.slider-nav span.left {
left:0 !important;
}
div.orbit-wrapper div.slider-nav span {
top:80% !important;
}
.hello-text {
	font-size:24px;
	
	}
.main-menu li {
margin-right:0px;
width:20%;
text-align:center;
}
.main-menu li:last-child {
width:40%;
}

.main-menu {
width:100%;
}

	.padding15 {
	padding:15px 15px !important;
	}



}
@media only screen and (max-width: 400px) {
	.main-menu li a {
	font-size:20px;
	}

.hello-text {
font-size:14px !important;
line-height:25px;
}	

.main-menu a:first-child {
padding-left:5px;
}

}
	
div.orbit-wrapper div.slider-nav span.right {
    background: url(../images/image.png) no-repeat -120px -130px;
	width:110px;
	height:120px;
    right: -125px; }
	
	div.orbit-wrapper div.slider-nav span.right:hover {
    background: url(../images/image.png) no-repeat -120px -250px;
	}


div.orbit-wrapper div.slider-nav span.left {
    background: url(../images/image.png) no-repeat -5px -130px;
	width:110px;
	height:125px;
    left: -130px; }
	div.orbit-wrapper div.slider-nav span.left:hover {
    background: url(../images/image.png) no-repeat -5px -250px;
	}
	

	
	ul.orbit-bullets li {
    float: left;
    margin-left: -5px;
    cursor: pointer;
    color: #999;
    text-indent: -9999px;
    background: url(../images/image.png) no-repeat -35px -390px;
    width: 35px;
    height: 30px;
    overflow: hidden; }
	
	ul.orbit-bullets li.active {
    color: #222;
    background-position: -1px -390px; }
	
	
	ul.orbit-bullets {
    position: absolute;
    z-index: 30;
    list-style: none;
    top: -35px;
	right:0px;
    padding: 0;
    margin-bottom: 20px;
	}
	
	.left-slide {
	position:fixed;
	right:0;
	top:0;
	z-index:99999;
	min-height:1000px;
	width:0px;
	background:rgba(0,0,0,0.8);
	overflow:hidden;
	
	}
	
	.nav-point {
		background: url(../images/image.png) no-repeat -260px -275px !important;
		width:47px;
		height:42px;
		overflow:hidden;
		text-align:right;
		font-family: 'ospdin', Helvetica Neue, sans-serif;
		font-size:30px;
	}
	.nav-point p {
	padding-right:18px;
	padding-top:7px;
	color:black;
	}
	
	.current {
	/*background-color: orange;
	color:black;*/
	}
#nav li{
	margin: 0 0 0px 0;	
	position:relative;
	width:52px;
}
#nav li a:first-child {
float:right;
display:block;}

.project-name {
position:absolute;
top:0;
right:0px;
width:0px;
overflow:hidden;
z-index:99999;
background:#cc3300;
height:43px;
}

a.project-name {
	color:white;
	text-transform: uppercase;
	font-family: 'ospdin', Helvetica Neue, sans-serif; 
	font-size: 26px;
	text-shadow: 0px -1px 0px #791e00;
}
.project-name p {
padding-top:8px;
padding-left:15px;
height:24px;
overflow:hidden;
}

.current-nav {
		background: url(../images/image.png) no-repeat -8px -601px !important;
		width:70px;
		height:42px;
		z-index:99999;
		content:' ';
}
.current-nav p {
color:white !important; padding-right:40px;
}

.about {
background:url(../images/bg/about-background.png) top left green;
height:0px;
width:100%;
overflow:hidden;
position:absolute;
top:0;
z-index:999999;
box-shadow: inset 0px -5px 5px rgba(0,0,0,0.1), 0px 2px 5px rgba(0,0,0,0.2);
}

.h2 span {
font-size:18px;
}

.johnson-s-photo {
padding:7px;
background:white;
box-shadow:1px 1px 2px rgba(0,0,0,0.2);
}

div.about .seven p {
font-size:21px; 
line-height:25px;
font-family: 'classicround', 
san-serif; color:#072624; 
text-shadow: 0px 1px 0px #63cbc4;
/*width:560px;*/
}

.eight .five p.small-text {
color:#0e3b39; 
text-shadow: 0px 1px 0px #51c2b7; 
font-size:14px; 
font-family:'asap', san-serif;
margin-bottom:0px;
line-height: 17px;
margin-top:5px;
margin-left:-20px;
text-align: justify;
}


.johnson-s-photo {
max-width:400px;
margin:auto;
display:block;
}

div.about .seven p.social {font-size:32px; line-height:33px; padding-bottom:5px;}
		div.about .seven p.social span {color:#114844; text-shadow: 0px 1px 0px #9DDADF; font-size:20px;}
		
		p.social a {color:white; text-shadow:0px -1px 0px #103F40;}
				p.social a:hover {font-size:34px;}

.back-to-the-top {
background: url(../images/image.png) no-repeat -258px -375px;
width:100px;
height:15px;
margin:auto;
cursor:pointer;
display:block;
margin-top:9px;
content:' ';
}
.right {
position:absolute;
right:10px;
top:7px;
}
.left {
position:absolute;
left:0;
top:5px;
}

.right:after; {
clear:both;
}
.top-bar {
position:fixed;
height:30px;
border-bottom:1px solid rgba(255,255,255,0.2);
z-index:9999;
width:100%;
background:rgba(0,0,0,0.15);
box-shadow: inset 0px -5px 15px rgba(0,0,0,0.1);
display:none;
cursor:pointer;
}
.top-bar-clone {
position:absolute;
height:30px;
border-bottom:1px solid rgba(255,255,255,0.2);
z-index:9999;
width:100%;
background:rgba(0,0,0,0.15);
box-shadow: inset 0px -5px 15px rgba(0,0,0,0.1);
display:block;
}
.image-wrap {
/*padding:5px;
background:white;
box-shadow: 2px 2px 3px rgba(0,0,0,0.5);*/

}

.m-slider:after {
clear:both;
}

.m-slider-info {
text-align:right;
display:block;
/*padding-right:30px;*/
}
.m-img {
width:70px;
height:70px;
overflow:hidden;
float:left;
margin:2px;
background:white;
border:5px solid white;
display:block;
cursor:pointer;
}
.m-slider-thumbs:after {
clear:both;
}
.m-slider-thumbs {
overflow:hidden;
padding:20px 0px;
}
.close {
background: url(../images/image.png) no-repeat -256px -536px;
width:90px;
height:40px;
margin:auto;
cursor:pointer;
display:block;
float:right;
position:absolute;
bottom:0px;
right:20px;
content:' ';
}
.close:after {
clear:both;
}

.close-popup {
margin-top:100px;
background: url(../images/image.png) no-repeat -258px -409px;
width:100px;
height:15px;
margin:auto;
cursor:pointer;
display:block;
float:right;
content:' ';
}
span.expand {display:none; /* display:block */ margin-top:10px;}

.expand:before {
background: url(../images/image.png) no-repeat -258px -147px;
width:20px;
height:17px;
margin:auto;
cursor:pointer;
display:block;
content:' ';
float:left;
margin-right:5px;

}
.expand:hover:before {
background: url(../images/image.png) no-repeat -258px -170px;
width:20px;
height:17px;
margin:auto;
cursor:pointer;
display:block;
content:' ';
float:left;
margin-right:5px;

}
.expand a {
color:#cc3300;	
}
.expand a:hover {
color:#399;

}

.orbit-wrapper {
max-width:860px;
margin:auto;
}
.top_paddings {
padding-top:20px;
}

.white {text-shadow:0px 1px 0px rgba(255,255,255,0.8) !important;}
h2.blackshadow {text-shadow:1px 1px 0px rgba(0,0,0,0.2);}
p.white {color:#003333;}

div.row {margin-top:-10px;}

#footer-slide {padding-top:10px;}
#footer-slide p {
	color: #072624;
	font-size: 34px;
	font-family: 'classicround', serif;
	line-height: 40px;
	text-shadow: 0px 1px #9ddadf;
	max-width:700px;
	margin:auto;
		margin-top:100px;
		margin-bottom:40px;

}

#footer-slide p:last-child {margin-top:50px; margin-bottom:0px; width:640px;}
	a.one {color:white; text-shadow:0px -1px 0px #072624;}
		a.one:hover{
				  opacity: 0.6;
				  filter: alpha(opacity=60);
				} 

.about-email h2 {margin-left:37px; padding-bottom:25px; margin-top:20px;}	

#footer-slide a.johnson-email h2 {margin: auto; margin-left:0px !important;}	

a.johnson-email h2 {
font-size:67px; 
padding-top:10px;
text-shadow:-1px -1px 0px #103f40;
}

a.johnson-email h2:hover {font-size: 68px;}

a.johnson-email span {font-size:48px; color:#114844; text-shadow:0px 1px #9DDADF; }

		
.arrow-up {
display:block;
background: url(../images/image.png) no-repeat -15px -445px;
position:absolute;
width:80px;
margin-left:-10px;
height:70px;
/*margin:auto;*/
top:-70px;
cursor:pointer;
display:block;
content:' ';
float:left;
margin-right:5px;
}
.arrow-up:hover {
background-position: -15px -511px;
}
.arrow-down {
display:block;
background: url(../images/image.png) no-repeat -95px -445px;
position:absolute;
width:80px;
margin-left:-10px;
height:70px;
/*margin:auto;*/
bottom:-66px; 
cursor:pointer;
display:block;
content:' ';
float:left;
margin-right:5px;
}

.arrow-down:hover {
background-position: -95px -511px;
}

.project-popup{
margin:0;
margin-bottom:10px;
}

.project-popup h2, .project-popup .subtitle {
margin:0; 
padding:0; 
margin-bottom:5px;
}

.popup-text {
font-size:15px; 
line-height: 21px; 
color:#f7f7f7; 
text-shadow:1px 1px 1px rgba(0,0,0,0.7);
}
.green-line {
/*margin-left:-480px;*/
background:url(../images/bg/line-turquoise-color.png) no-repeat 50% top;
height:5px;
width:960px;
margin-top:10px;
margin-bottom:5px;
opacity: .3;
  filter: alpha(opacity=30); /*for ie6-ie8*/

}

.triangle-up {
margin-top:100px;
background: url(../images/image.png) no-repeat -253px -433px;
width:32px;
height:25px;
margin:auto;
cursor:pointer;
display:block;
content:' ';
}
.johnson-s-logo {
background: url(../images/image.png) no-repeat left top;
width:385px;
margin:auto;
height:100px;
cursor:pointer;
display:block;
content:' ';
}
.sub-menu {
max-width:510px;
margin:auto;
}

.sub-menu li a {
color:#003333; 
text-shadow:0px 1px 0px white;
}

.sub-menu li a:hover {
color: #cc3300;
font-weight: bold;

  -webkit-transition: all 0.2s ease-out; 
     -moz-transition: all 0.2s ease-out; 
      -ms-transition: all 0.2s ease-out; 
       -o-transition: all 0.2s ease-out; 
          transition: all 0.2s ease-out;

}
.sub-menu li a:active {
color: #cc3300;
font-weight: bold;
}

.sub-menu li a.active {
color: #cc3300;
font-weight: bold;
}

.sub-menu li {
float:left;
width:25%;
text-align:center;
}
.sub-menu li:last-child:after {
clear:both;
}
html {
overflow-x:hidden;
}

.green-bar {
	position:fixed;
	right:0;
	top:-70px;
	z-index:99999;
	padding:0px;
	height:44px;
	width:100%;
	background:rgba(0,0,0,0.8);
	/* overflow:hidden; */
	background:url(../images/bg/top-hover-bar-green.png);
	box-shadow: inset 0px -5px 15px rgba(0,0,0,0.1);
	content:' ';
	}
.green-bar ul li:first-child {
margin-left:50px;
}
.green-bar .row li {
float:left;
width:20%;
}
.green-bar .row li a {
width:125px;
padding-top:13px;
height:47px;
display:block;
margin:auto;
text-align:center;
cursor:pointer;
color:white;
text-shadow:0px -1px 0px #0f5454;
}
.green-bar .row li a:hover {
background: url(../images/image.png) no-repeat -256px -474px;
}
.green-bar .row li a.active {
background: url(../images/image.png) no-repeat -256px -200px;
text-shadow:0px -1px 0px #451000;
}


.white-johnson {
background: url(../images/image.png) no-repeat left -835px;
width:260px;
height:38px;
content:' ';
position:absolute;
left:0px;
top:0px;

}

.small-triangle {
background: url(../images/image.png) no-repeat -11px -114px;
width:9px;
height:9px;
content:' ';
margin:auto;

}

.p {
z-index:9999;
position:absolute;
top:50px;
left:170px;
}
.johnson-canvas {
}

/* homepage p click and drag */
div.cta {
font-size:12px; 
letter-spacing: 0.1em; 
color:#999; 
text-shadow: 0px 1px 0px white; 
display: block; 
text-align: left; 
width:207px; 
line-height: 15px;
margin-left:17px;
}

div.cta span{
	color:#399;
}

.cta_box {
padding-left:150px;
}

.back-to-the-top-of-the-page {
background: url(../images/image.png) no-repeat -9px -900px;
width:170px;
height:110px;
margin-left:-85px;
position:absolute;
bottom:0;
left:50%;
cursor:pointer;
display:block;
content:' ';
color:black; 
}
.back-to-the-top-of-the-page:hover {
color:black;
}

.back-to-the-top-of-the-page div {
padding-top:40px;
text-align:center;
display:block;
margin-top:20px;
margin-left:auto;
margin-right:auto;
color:#073030;
text-shadow:0px 1px 0px #54b7b7;
font-size:17px;
}

/* strike-out because not complete */
.strike {text-decoration: line-through;}
