@font-face {
    font-family: 'ospdin';
    src: url('../fonts/OSP-DIN-webfont.eot');
    src: url('../fonts/OSP-DIN-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OSP-DIN-webfont.woff') format('woff'),
         url('../fonts/OSP-DIN-webfont.ttf') format('truetype'),
         url('../fonts/OSP-DIN-webfont.svg#OSPDIN') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'classicround';
    src: url('../fonts/classic-round/ClassicRound-Medium-webfont.eot');
    src: url('../fonts/classic-round/ClassicRound-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/classic-round/ClassicRound-Medium-webfont.woff') format('woff'),
         url('../fonts/classic-round/ClassicRound-Medium-webfont.ttf') format('truetype'),
         url('../fonts/classic-round/ClassicRound-Medium-webfont.svg#classicround') format('svg');
    font-weight: normal;
    font-style: normal;

}


#start {
	background:#f8f8f8 50% -75px no-repeat fixed;
	color: black;
	height: 500px;
	margin: 0 auto;
	padding: 10px 0 0 0;
	width:100%;
	text-align:center;
}

#first { 
	background:url(../images/bg/backgrounds-1-opt.jpg) 50% 0 no-repeat fixed;
	color: white;
	height: 1000px;
	margin: 0 auto;

	width:100%;


}
#second {
	background:url(../images/bg/backgrounds-2-opt.jpg) 50% 0 no-repeat fixed;
	color: white;
	height: 1000px;
	margin: 0 auto;

	width:100%;


}

#third {
	background:url(../images/bg/backgrounds-3-opt.jpg) 50% 0 no-repeat fixed;
	color: white;
	height: 1000px;
	margin: 0 auto;

	width:100%;

}
#forth {
	background:url(../images/bg/backgrounds-4-opt.jpg) 50% 0 no-repeat fixed;
	color: white;
	height: 1000px;
	margin: 0 auto;

	width:100%;

}

#footer {
background:black;
height: 500px;
width:100%;
	padding: 160px 0 0 0;
}

.slide {
	width: 100%;
}

#nav{
	list-style: none;
	position: fixed;
	right: 20px;
	z-index: 999;
}

#nav li{
	margin: 0 0 15px 0;	
}


#nav li a {
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background-color: white;
	border: solid 2px white;
}

#nav li a.current {
	background-color: orange;
	color:black;
}
.featured {
margin-top:120px;
}

.main-menu {
padding-top:40px; margin-left:230px;
}

.main-menu li {
float:left; 
font-family: 'ospdin', Helvetica Neue, sans-serif; 
font-size:29px;
text-transform:uppercase;
margin-right:50px;
}
.main-manu li  a {
color:green;
}
.clear {
clear:both;
}
.hello-text {
	text-align:left; 
	font-family:classicround, georgia, serif;
	font-size:34px;
	line-height:38px; 
		width:820px;
	margin-top:50px;
	margin-left:90px;
	text-shadow:3px 5px #f0f0f0;
	}

body {
	font-family: 'asap', tahoma, san-serif;
	}

h1 {
	font-family: 'ospdin', Helvetica Neue, sans-serif; 
	text-transform:uppercase; 
	font-size:58px; 
	text-shadow:0px 1px 0px white;
	margin-bottom:20px;
	}

h6 {
	font-family: 'asap', tahoma, san-serif; 
	letter-spacing: .3em; 
	color:#999999; 
	font-size:14px;
	text-shadow:0px 1px 0px white;
	}
	

.showcase-number {
color:#666666;
/* text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6); 
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99FFFFFF,endColorstr=#99FFFFFF);
            zoom: 1;  
*/

}

div.slide {
font-size:15px;
line-height:21px;
}

.five, .seven {margin-top:40px;}

span.expand {display:block; margin-top:15px;}

h2 {
font-family: 'ospdin', Helvetica Neue, sans-serif; 
font-size:41px; 
line-height:41px; 
color:white;
margin-bottom:10px; 
text-transform:uppercase;
margin-left:40px;
}

span.subtitle {color:#339999; text-transform:capitalize;
margin-left:40px;
}

.johnson-set-paddings2 {width:480px;}

.main-menu a:link {color:#444444; text-shadow:0px 1px 0px white; box-shadow:none; }
.main-menu a:visited {color:#444444;}
.main-menu a:hover {
	
	color:#339999;

  -webkit-transition: all 0.3s ease-out; 
     -moz-transition: all 0.3s ease-out; 
      -ms-transition: all 0.3s ease-out; 
       -o-transition: all 0.3s ease-out; 
          transition: all 0.3s ease-out;
}

.main-menu a:active