/* second css file because main too big and this is johnson starting this one */


/* photo page */

.transparent1 {
background: rgba(0,0,0,0.8);
}
.johnson-box {
margin-top:23% !important;
padding:40px 20px 50px 30px;
}

.johnson-box h2, .johnson-box span.subtitle {margin-left:0px;}
.johnson-set-new-paddings {margin-top:20px;}
.johnson-set-new-paddings p {margin-bottom:30px;}

a.expand-button {
padding-top:7px; padding-left:43px;
display:block;
width:200px; height:37px; 
color:white;
text-shadow:0px -1px 0px #8f3213;
font-size:15px;

background: url(../images/image.png) no-repeat -11px -1031px; 

	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* IE 8+ */
	
}

a.expand-button:hover { background: url(../images/image.png) no-repeat -11px -1083px; }

.jc-modal {background: none; box-shadow:none;}


div.feat-vertical img {max-width:450px !important;}

.orbit-wrapper {max-width:1000px;}

/* end of photo page css */




/* freebie-walls page */

a.red {color:#C30;}

.photog {padding-top:50px; max-width:90% !important;}


.freebie-wall, .freebie-stock {
width:32.65%; min-width: 200px; 
float:left; 
background:#f8f8f8;
padding: .7%;	


  -webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.2), inset 1px 1px 0px white;
          box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.2), inset 1px 1px 0px white;

	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* IE 8+ */

}

.freebie-stock { width:24.25%; min-width: 150px;}

.freebie-wall img, .freebie-stock img {
width:100%; 
height: auto; 
background: green;
}
	
.freebie-wall h5, .freebie-stock h5 {
margin-top:15px; 
font-size:25px; text-transform: uppercase; 
font-family:ospdin, sans-serif; 
color:#003333; 
margin-left:11px;
}
	
.freebie-wall p, .freebie-stock p, .pin-ee p {
font-size:12px; 
color:#999; 
letter-spacing: 0.1em; 
margin-top:3px; margin-bottom:7px; margin-left:11px; 
line-height: 16px;
}
	
		.freebie-wall p a, .freebie-stock p a {color:#999;}
			.freebie-wall p a:hover, .freebie-stock p a:hover {color:#C30;}

.pin-ee p {margin-left:2px; margin-top:2%; margin-bottom:0px;}
.lefter {margin-left:1%;}

.second-row {margin-top:-35px !important;}

.photog .centered .topper a {
float:left; 
margin-right:20px; 
margin-top:5px;  
}

.photog .centered .topper a:first-child {margin-right: 10px;}

.photog .centered .innards {
font-size:15px; 
line-height:20px; 
color:#003333;
min-width: 220px;
max-width: 700px;
margin: auto;
}

.twelve.column.centered {
background: url('../images/bg/red-dot-line.png'); 
}

.photog blockquote { 
margin-bottom: -10px;
color: #cc3300; 
font-size: 12px; 
letter-spacing: 0.2em;
height:15px; 
text-align: center;
background: #fbfbfb;
display: block;
max-width:270px;
margin: auto;
}	

.photog a.stock {
color:#C30; 
display: block; 
max-width: 180px;
font-size: 12px; 
letter-spacing: 0.09em;
margin-top:5%;
}
.photog a:hover {color:black;}
.photog a span {color:#999;}

.photog {text-shadow:0px 1px 0px white;}

/* Everything Else page */

.pin-ee {
list-style-type: none;
position: relative; /** Needed to ensure items are laid out relative to this container **/
margin: 0;

text-shadow: 0px 1px 0px white;
}

/* .pins {max-width: 1800px !important; margin: auto;} */
.pins {margin-top:3%;}

/**
* Grid items
*/
.pin-ee li {
width: 250px;
background-color: #f8f8f8;
display: none; /** Hide items initially to avoid a flicker effect **/
cursor: pointer;
padding: 4px;
box-sizing:border-box;

	padding: 7px; 
	margin-bottom: 10px;
	
  -webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.2), inset 1px 1px 0px white;
          box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.2), inset 1px 1px 0px white;

}

ul.pin-ee li img {background: gray;}



li.ee-blurb {font-family: 'classicround', serif; cursor:default; display: block;}
	li.ee-blurb p{font-size: 24px; letter-spacing:0; line-height: 24px; color:#666;}
			li.ee-blurb p:first-letter {color:#cc3300;}
				li.ee-blurb p:first-line {color:#333;}